<!DOCTYPE html>
<html>
<head>
  <title>activity logger</title>

  <meta charset="UTF-8">
  <link   href="https://guenneba.gitlabpages.inria.fr/ecodiag/ecodiag.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/luxon/build/global/luxon.js"></script>
  
</head>
<body>

<style type="text/css">

</style>

<div id="app">

  <div v-for="item in activity_list">
    <input type="radio" :id="item.key" name="activity" :value="item.key" v-model="curr_activity">
    <label for="item.key">{{item.label}}</label>
  </div>

  <div>
    <button @click="restart">restart</button>
  </div>

  <hr>

  <div>
    Export data:
    <form id="export_form" @submit="export_activities($event)">
      <input type="text" class="filename" id="export_filename" :value="'my_activities_'+today_suffix()" size="30"/><span class="unit">.json</span>
      <input id="export_submit" type="submit" value="Save"/>
    </form>
  </div>
  
  <div>
    Import: <input type="file" id="import_json_file" @change="import_activities($event.target.files)" />
  </div>

  <hr>

  <table>
    <tr v-for="item in mylog">
      <td>
        <!-- <input type="text"
                  size="30"
                  :value="ts2str(item.time)"
                  @change="item.time=str2ts($event.target.value,item.time); cache_mylog()"> -->
        <input type="text"
                  size="30"
                  :value="item.time"
                  @change="item.time=str2str($event.target.value,item.time); cache_mylog()">
      </td>
      <td>{{item.activity}}</td>
    </tr>
  </table>

<!--   <pre style="font-size:80%">
{{JSON.stringify(mylog, null, 2)}}
  </pre> -->

</div> <!-- app -->


<script>

var date_fmt="dd/LL/yyyy TT"

var vm = new Vue({
  data: {

    activity_list: [
      { key:"pause",  label:"pause"},
      { key:"limited",label:"generic/limited"},
      { key:"medium", label:"generic/medium"},
      { key:"high",   label:"generic/high"},
      { key:"email",  label:"email"},
      { key:"reading",label:"lecture (e.g. articles)"},
      { key:"visio",  label:"visio"},
      { key:"audio",  label:"audio"},
      { key:"video",  label:"video"},
      { key:"excel",  label:"tableur"},
      { key:"word",   label:"word-like"},
      { key:"matlab", label:"matlab-like"},
      { key:"devel",  label:"développement/compilation"},
      { key:"3D",     label:"logiciels 3D"},
      { key:"latex",  label:"latex"},
      { key:"coq",    label:"coq"},
    ],
    curr_activity:'email',
    mylog: []
    
  },

  watch: {
    curr_activity: function(val) {
      this.curr_activity = val;
      if(val!=this.last_activity) {
        this.mylog.push({time:this.now(),activity:val});
        this.cache_mylog()
      }
    }
  },

  mounted() {
    if (localStorage.mylog) {
      this.mylog = JSON.parse(localStorage.mylog);
      this.curr_activity = this.last_activity;
    } else {
      this.curr_activity = "pause";
    }
  },

  computed: {
    last_activity() {
      if(this.mylog.length>0)
        return this.mylog[this.mylog.length-1].activity;
      else
        return undefined;
    }
  },

  methods:{

    ts2str(x) {
      return luxon.DateTime.fromSeconds(x).toFormat(date_fmt);
    },
    str2ts(x,prev) {
      var newval = luxon.DateTime.fromFormat(x, date_fmt).toSeconds();
      if(newval || !prev)
        return newval;
      return prev;
    },

    str2str(x,prev) {
      var tmp = luxon.DateTime.fromFormat(x, date_fmt);
      if(tmp || !prev)
        return x;
      return prev;
    },

    now() {
      var ts = Math.round(Date.now()/1000);
      return this.ts2str(ts);
    },

    today_suffix() {
      return luxon.DateTime.fromSeconds( Math.round(Date.now()/1000) ).toFormat("dd-LL-yyyy")
    },

    cache_mylog() {
      localStorage.mylog = JSON.stringify(this.mylog);
    },

    restart() {
      this.mylog = [];
      this.mylog.push({time:this.now(),activity:this.curr_activity});
      this.cache_mylog()
    },

    import_activities(files) {
      if(files.length==1){
        var file = files[0];
        var reader = new FileReader();

        reader.onload = (function(theFile) {
            return function(e) {
              var json_text = e.target.result;
              var imported_data = JSON.parse(json_text);
              this.mylog = imported_data;
              this.cache_mylog()
            }.bind(this);
          }.bind(this))(file);

        reader.readAsText(file);
      }
    },

    export_activities(e) {
      e.preventDefault();

      var d = this.mylog;

      var blob = new Blob([JSON.stringify(d, null, 2)], {
        "type": "application/json"
      });
      var a = document.createElement("a");
      
      var filename = e.target.export_filename.value;
      
      a.download = filename;
      a.href = URL.createObjectURL(blob);
      document.body.appendChild(a);
      a.click();
      document.body.removeChild(a);
    },
  }
}).$mount('#app')

</script>

</body>
</html>